* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial;
    line-height: 1.6;
}

header.hero {
    background-color: #314b57;
    color: white;
    padding: 15px; 
}

header h1 {
    font-family: 'Roboto Slab';
    font-size: 1.4em;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero-text {
    max-width: 60%;
    margin-top: 50px;
}

.circle-links {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.circle-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.circle-links img {
    border-radius: 50%;
    width: 170px; 
    height: 170px;
}

.map {
    width: auto;
    height: 106%;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 90px;
    
}


main h2 {
    font-family: 'Roboto Slab';
    color: #ab3c3c;
    margin-left: 50px;
    font-size: 45px;
}

.service-area {
    padding: 20px;
    background-color: #f4f4f4;
}

.service-content {
    display: flex; 
    align-items: flex-start;
    gap: 20px;
    margin-left: 50px; ;
    
}

.service-content img {
    width: 30%; 
    height: auto;
    margin-bottom: 10px;
}

.text-content {
    flex: 1; 
    margin-top: 5px;
    font-size: 16px;
}

.text-content p {
    margin-bottom: 10px;
    margin-right: 50px;
}

.text-content p a {
    text-decoration: none;
    color: #ab3c3c;
}

.articles {
    padding: 20px;
}

.article-grid {
    display: flex;
    gap: 10px;
}

.article img {
    width: 100%;
    height: auto;
}

.article {
    background: #fff;
    padding: 10px;
    flex: 1;
    margin-left: 35px;
}

.article p {
    color: #333;
}

.article a {
    text-decoration: none;
    color: #ab3c3c;
    font-weight: bold;
}