* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

header.hero {
    background-color: #314b57;
    color: white;
    padding: 20px;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8em;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-text {
    max-width: 60%;
    margin: 20px auto;
    text-align: left;
}

.circle-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.circle-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.circle-links img {
    border-radius: 50%;
    width: 150px; 
    height: 150px;
}

.map {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
}

main h2 {
    font-family: 'Roboto Slab', serif;
    color: #ab3c3c;
    margin: 20px auto;
    text-align: left;
    font-size: 2em;
    margin-left: 30px;
}

.service-area {
    padding: 20px;
    background-color: #f4f4f4;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.service-content img {
    width: 100%; 
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 35px;
}

.text-content {
    flex: 1; 
    margin: 10px auto;
    font-size: 16px;
    text-align: justify;
}

.text-content p {
    margin-bottom: 10px;
}

.text-content p a {
    text-decoration: none;
    color: #ab3c3c;
}

.articles {
    padding: 20px;
}

.article-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.article {
    padding: 10px;
    flex: 1 1 calc(100% - 40px);
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article p {
    color: #333;
    margin-bottom: 10px;
}

.article a {
    text-decoration: none;
    color: #ab3c3c;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 90%;
    }

    .service-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .circle-links img {
        width: 100px;
        height: 100px;
    }

    main h2 {
        font-size: 1.5em;
    }

    .article {
        max-width: 100%;
    }
}
